.min-height {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.checkelement {
    background: red;
    height: 40%;
    width: 40%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activesection {
    /* Add styles for the 'activesection' class as needed */
    border: 2px solid blue;
}

.imagecont {
    flex: 1;
    height: 100%;
    position: relative;
    background-size: cover;
    opacity: 0.7;
    overflow: hidden;
}

.skeletonheader {
    margin-bottom: 0.5rem;
}

.skeletontext {
    width: 90%;
    height: 0.5em;
    margin: 0 0 0.25rem 0;
    border-radius: 0.125rem;
    text-align: left;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonbody .skeletontext:last-child {
    width: 80%;
}

.imagecont img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    object-position: center;
    border: none;
    animation: skeleton-loading 1s linear infinite alternate;
}

.imagecont h1 {
    font-size: 3.3vw;
    color: #000;
    width: 100%;
    display: none;
}

.imagecont.loaded h1 {
    display: block;
}



@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.imagecont.loaded img {
    animation: none;
    transition: all 200ms ease-in-out;
}

.imagecont.loaded {
    opacity: 1;
}

.imagecont.loaded .skeletontext {
    animation: none;
    display: none;
}